h1 {
    color: #716B8C;
    font-family: 'Lobster';
}
body {
    background-color: #F0D0FF;
}
.content {
	margin-left: 40px;
}
.page-header {
    background-color: #716B8C;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}
#title {
    color: #F0D0FF;
}
a {
	color: inherit;
}
.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}
.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}
.post {
    margin-bottom: 70px;
}
